/* --- Navbar: Logo (Left Side) --- */
.navbar-logo-fixed {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.6rem 4rem;
  z-index: 100;
  display: flex;
  align-items: center;
  filter: invert(1);
  mix-blend-mode: difference;
}

/* --- Navbar: Links (Right Side) --- */
.navbar-links-fixed {
  
  font-family: var(--font-stack);
  position: fixed;
  top: 0;
  right: 0;
  padding: 2.5rem 4rem;
  z-index: 100;
  mix-blend-mode: difference;
}

.nav-links {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.nav-links a {
    
  font-family: var(--font-stack);
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  text-transform: none;
  letter-spacing: 1px;
  color: #ffffff; 
  opacity: 0.4; 
  transition: opacity 0.2s ease;
}

.nav-links a:hover {
  opacity: 0.8; 
}

/* --- THE NEW ACTIVE STATE --- */
.nav-links a.active-link {
  opacity: 01; 
  /* text-decoration: underline;
  text-underline-offset: 6px;  */
  text-decoration-thickness: 1.5px;
}

/* Responsive adjustment if you drop down to phone sizes */
@media (max-width: 768px) {
  .navbar-logo-fixed,
  .navbar-links-fixed {
    padding: 1.5rem 2rem;
  }
}