@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');

:root {
  --bg-off-white: #f5f5f7;
  --pure-white: #ffffff;
  --text-dark: #111111;
  --text-muted: #666666;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
